Dictionary Exercises

1. Sort a Dictionary by Value

In [6]:
my_dict={'Apple':6,'Banana':10,'Limon':2}
asc_dic=dict(sorted(my_dict.items(),key=lambda item: item[1]))
descending = dict(sorted(my_dict.items(), key=lambda item: item[1], reverse=True))
print("Descending:", descending)
print("Ascending:",asc_dic)

Descending: {'Banana': 10, 'Apple': 6, 'Limon': 2}
Ascending: {'Limon': 2, 'Apple': 6, 'Banana': 10}

2. Add a Key to a Dictionary

In [8]:
a={0: 10, 1: 20}
a[2]=30
a

{0: 10, 1: 20, 2: 30}

3. Concatenate Multiple Dictionaries

In [10]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

4. Generate a Dictionary with Squares

In [14]:
a=int(input("Son kiriting:"))
output_dict={x:x*x for x in range(1,a+1)}
output_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

5. Dictionary of Squares (1 to 15)

In [15]:
outputt_dict={x:x*x for x in range(1,16)}
outputt_dict

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

Set Exercises

1. Create a Set

In [16]:

my_set = {1, 2, 3, 4, 5}

print("The created set is:", my_set)

The created set is: {1, 2, 3, 4, 5}

2. Iterate Over a Set

In [18]:
my_set = {1, 2, 3, 4, 5}
for x in my_set:
    print(x)

1
2
3
4
5

3. Add Member(s) to a Set

In [ ]:
my_sett = {1, 2, 3, 4}
my_sett.add(16)
my_sett

{1, 2, 3, 4, 8, 15, 16}

In [24]:
my_sett = {1, 2, 3, 4}
my_sett.update([8,15,3])
my_sett

{1, 2, 3, 4, 8, 15}

4. Remove Item(s) from a Set

In [25]:
my_sett = {1, 2, 3, 4}
my_sett.remove(1)
my_sett

{2, 3, 4}

In [27]:
my_sett = {1, 2, 3, 4}
my_sett.difference_update({2,1})
my_sett

{3, 4}

5. Remove an Item if Present in the Set

In [29]:
b=int(input("Son kiriting:"))
numbers = {1, 2, 3, 4,10,16}
if b in numbers:
    numbers.remove(b)
numbers

{1, 2, 3, 4, 10, 16}