1. Modify String with Underscores

In [5]:
my_tex="hello" 
used_chars=["a","e","i","o","u"]
i=2
while i<len(my_tex)-1:
    if my_tex[i] not in used_chars:
        my_tex=my_tex[:i+1]+"_"+my_tex[i+1:]
        used_chars.append(my_tex[i])
        i+=4
    else:
        i+=1
print(my_tex)

hel_lo

In [4]:
my_tex="assalom" 
used_chars=["a","e","i","o","u"]
i=2
while i<len(my_tex)-1:
    if my_tex[i] not in used_chars:
        my_tex=my_tex[:i+1]+"_"+my_tex[i+1:]
        used_chars.append(my_tex[i])
        i+=4
    else:
        i+=1
print(my_tex)

ass_alom

In [6]:
my_tex="abcabcabcdeabcdefabcdefg" 
used_chars=["a","e","i","o","u"]
i=2
while i<len(my_tex)-1:
    if my_tex[i] not in used_chars:
        my_tex=my_tex[:i+1]+"_"+my_tex[i+1:]
        used_chars.append(my_tex[i])
        i+=4
    else:
        i+=1
print(my_tex)

abc_abcab_cdeabcd_efabcdef_g

2. Integer Squares Exercise

In [6]:
a=int(input("Son kiriting:"))
if 1<=a<=20:
    for x in range(0,a):
        print(pow(x,2))
else:
    print("Mos bo`lmagan son")

Mos bo`lmagan son

3. Loop-Based Exercises

Exercise 1: Print first 10 natural numbers using a while loop

In [8]:
b=1
while b<=10:
    print(b)
    b=b+1

1
2
3
4
5
6
7
8
9
10

Exercise 2: Print the following pattern

In [35]:
c = 5
for i in range(1, c+1):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Exercise 3: Calculate sum of all numbers from 1 to a given number

In [22]:
c=int(input("Son kiriting:"))
print(sum(range(1,c+1)))

55

Exercise 4: Print multiplication table of a given number

In [23]:
d=int(input('Son kiriting'))
for x in range(1,11):
    print(x*d)

2
4
6
8
10
12
14
16
18
20

Exercise 5: Display numbers from a list using a loop

In [70]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for x in numbers:
    if 75<=x<=150:
         print(x)

75
150
145

Exercise 6: Count the total number of digits in a number

In [25]:
e=int(input('Son kiriting'))
print(len(str(e)))

6

Exercise 7: Print reverse number pattern

In [38]:

c = 5
for i in reversed(range(1, c+1)):
    for j in reversed(range(1, i+1)):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Exercise 8: Print list in reverse order using a loop

In [40]:
list1 = [10, 20, 30, 40, 50]
for x in reversed(list1):
    print(x)

50
40
30
20
10

Exercise 9: Display numbers from -10 to -1 using a for loop

In [41]:
for x in range(-10,0):
    print(x)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Exercise 10: Display message “Done” after successful loop execution

In [43]:
for x in range(0,5):
    print(x)
print('Done!')

0
1
2
3
4
Done!

Exercise 11: Print all prime numbers within a range

In [1]:
a=25
b=50

print(f"All prime number between {a} and {b} :")
for x in range(a,b+1):
    if x>1:
        for i in range(2, int(x**0.5)+1):
            if x%i==0:
                break
        else:
            print(x)

All prime number between 25 and 50 :
29
31
37
41
43
47

Exercise 12: Display Fibonacci series up to 10 terms

In [2]:
n = 10
a, b = 0, 1

print("Fibonacci sequence:")
for i in range(n):
    print(a, end="  ")
    a, b = b, a + b

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

Exercise 13: Find the factorial of a given number

In [50]:
h=int(input('Son kiriting:'))
g=1
for x in range(1,h+1):
    g*=x
print(g)

720

4. Return Uncommon Elements of Lists

In [61]:
list1 = [1, 1, 2]
list2 = [2, 3, 4]

common = set(list1) & set(list2)

result = [x for x in list1 + list2 if x not in common]

print(result)

[2, 2, 5]

In [ ]:
list1 = [1, 1, 2, 3, 4, 2]
list2 = [1, 3, 4, 5]

common = set(list1) & set(list2)

result = [x for x in list1 + list2 if x not in common]

print(result)

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]


common = set(list1) & set(list2)

result = [x for x in list1 + list2 if x not in common]

print(result)